.wallet-container {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px); /* Original 400px for each item */
  grid-gap: 32px;
}

.amount-container {
  position: relative;
}

.btn-add-all {
  position: absolute;
  right: 0px;
  top: 2px;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.mt-20 {
  margin-top: 20px;
}

/* Media query for smaller screens (mobile) */
@media (max-width: 600px) {
  .wallet-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust for smaller screens */
    padding: 16px;  /* Reduce padding on smaller screens */
  }
}
